@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main id="main" class="main flex-grow-1">

    <div class="pagetitle">
        <h1>QuestionLevel</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">QuestionLevel</li>
                <li class="breadcrumb-item active">AddEdit_QuestionLevel</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add / Edit QuestionLevel</h5>

            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input type="text"
                               class="form-control"
                               id="floatingLevel"
                               placeholder="Question Level"
                               required
                               minlength="3">
                        <label for="floatingLevel">Question Level</label>
                        <div class="invalid-feedback">
                            Question Level is required and must be at least 3 characters.
                        </div>
                    </div>
                </div>
                
                <div class="text-center pt-3">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
            </form>


        </div>
    </div>
</main>